# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Local environment variables
.env

# Processed data
data/processed/

# Credentials
*.json